@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
/* nav start */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 87px 120px;
}
.nav-menus >ul{
    display: flex;
    gap: 34px;
}
.nav-menus ul > li{
    list-style: none;
}
.nav-menus a{
    text-decoration: none;
}
.nav-title >h3{
    width: 243px;
    height: 52.2px;
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
    display: inline;
}
.nav-menus ul li{
    /* width: 49px; */
    /* height: 34.8px; */
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

/* nav end */
/* banner start */
.banner{
    width: 100vw;
    height: 60vh;
    /* background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat; */
}
.banner-container{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}
.banner-title{
    width: 582px;
    height: 133px;
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}
.banner-description{
    width: 505px;
    height: 60.9px;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
.btn-primary{
    display: inline-flex;
    padding: 10px 24px;
    align-items: center;
    gap: 8px;
    border-radius: 41px;
    background: #E02C6D;
    border: none;
    color: #FFFFFF;
}
/* .banner-img {
    width: 440px;
    height: 414px;
} */
.banner-img{
    flex:50%;
    overflow:hidden;
    background:url('../images/Circle\ design.svg') no-repeat center bottom;
    background-size:contain;
}
.banner-img img{
    display: block;
    margin: 0 auto;
}

/* banner end */


.our-sponsors{
    margin-top: 100px;
}
.sponsors-img{
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 30px 0px;
}
/* sponsors end */


/* popular collection start */

.popular-collection{
    margin-top: 100px;
    margin-bottom: 100px;
}
.popular-collection-container{
    max-width: 980px;
    margin: 0 auto;
}
.collection-title{
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    line-height: 70px;
}
.item{
    border-radius: 5px;
    background-color: #fff;    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 10px 20px;
}
.item img{
    width: 100%;
}
.product-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.product-item .item h4{
    color:#18191F;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}
.product-item .item p{
    color:#787885;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%; 
    letter-spacing: 0.252px;
}
.product-item .item .price{
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
}
.items-see-more{
    text-align: right;
    padding-top: 30px;
    position: relative;
    padding-right: 20px;
    left: 20px;
}
.items-see-more a{
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
}
/* popular collection end */


/* featured start */
.featured-product{
    max-width: 1160px;
    margin: 0 auto;
}
.featured-product-container{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-around;
    margin: 0 auto;
}
.featured-img img{
    width: 404px;
    height: 270px;
    border-radius: 7px;
}
.featured-content h3{
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
    margin-top: -20px;
}
.featured-content p{
    width: 501px;
    height: 88px;
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 20px;
}
.featured-btn{
    display: inline-flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
    background: #E02C6D;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}

/* featured end */


/* footer start */
.footer-section{
    background: #0A0826; 
    margin-top: 100px;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    text-align: center;
    max-width: 1160px;
    margin: auto;
    padding:100px;
}
.footer-content h3{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}
.footer-content p{
    color:#D9DBE1;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px; 
}
.footer-content .social-icon i{
    border-radius: 50%;
    border: 5px solid #2e2d2d;
    margin: 20px 10px;
}

/* footer end */

.hide{
    display: none;
}

/* resposive with mobile device */

@media screen and (max-width: 576px) {
    body{
        width: 100%;
    }
    .nav-container,
    .nav-menus >ul{
        flex-direction: column;
    }
    .nav-menus >ul{
        text-align: center;
        gap: 7px;
    }
    .nav-title h3 {
        font-size: 30px;
    }
    /* nav end */
    .banner-container{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .banner-img img{
        width: 100%;
        object-fit: cover;
    }
    .banner-img{
        width: 100%;
        margin: auto;
    }
    .banner-title{
        width: 100%;
        font-size: 30px;
        text-align: center;
        gap: 5px;
    }
    .banner-description{
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
    .btn-primary{
        justify-content: center;
        margin-left: 65px;
        margin-top: 70px;
    }

    /* banner end */

    .our-sponsors{
        padding-top: 100px;
        padding-left: 0px;
    }
    .sponsors-img{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        /* padding: 30px 0px; */
        justify-content: center;
        margin: auto;        
    }

    /* sponsors end */
 
    /* popular collection */
    .popular-collection{
        width: 100%;
        margin: auto; 
    }
    .popular-collection-container{
        width: 100%;
        justify-content: center;
        margin: auto;
    }
    .popular-collection-container > a{
        width: 100%;
    }
    .product-item{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        gap: 20px 0px;
    }
    .items-see-more,
    .items-see-more  i {
        padding-right: 20px;
    }
    .collection-title{
        font-size: 30px;
        font-weight: 600;
        line-height: 70px;
        margin-right: 0px;
    }
    /* collection end */
}